.idea/
*.iml

# CMake & сборка
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log
Makefile
!cmake-build-debug/flight_data.bin
!cmake-build-debug/Statistics


*.exe
*.a
*.lib
*.o
*.obj
*.dll
*.so
*.dylib
*.bin
*.txt

Testing/

.DS_Store
Thumbs.db