.idea/
*.iml

# CMake & сборка
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log
Makefile

*.exe
*.a
*.lib
*.o
*.obj
*.dll
*.so
*.dylib

Testing/

.DS_Store
Thumbs.db